#{extends 'main.html' /}
#{set title:'Employee details' /}
${flash.success}
<h1>Employee Details</h1>
<div>
     Name: ${employee.firstName}
  </div>
<div>
     lastName: ${employee.lastName}
  </div>
<div>
     email: ${employee.email}
  </div>
<div>
     Project: ${employee.project}
  </div>
<div>
     contactNo: ${employee.contactNo}
  </div>
<div>
     joiningDate: ${employee.joiningDate}
</div>
<div>
#{form @Employees.index() }
   <input type="submit" value="Back" /> 
#{/form}
</div>
